.main-nav{
    display: flex;
    height: 70px;
    align-items: center;
}
h1{
   position: absolute;
   left: 50%;
   transform: translate(-50%);
    margin: 10px;
}
h1 a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
}
.login-btn{
    position: absolute;
    right: 10px;
}
.sub-nav{
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
}
.sub-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
}
i:hover{
    cursor: pointer;
}
