.recomandtins-container{
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}

.recomandtins-container__scroll-btn{
    position: absolute;
    background: rgba(128, 128, 128, 0.279);
    border: none;
    font-size: xx-large;
    padding: 10px;
    border-radius: 5px;
    top: 50%;
    color: rgba(0, 0, 0, 0.427);
}

.recomandtins-container__scroll-btn.right{
    right: -25px;
}
.recomandtins-container__scroll-btn.left{
    left: -25px;
}
.articles-container{
    display: flex;
    margin-top: 20px;
}

/* centring articles */
.recomandtins-container article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
